//Bootstrap Sass Files
@import "node_modules/bootstrap/scss/bootstrap";

$prussian-blue: #0B3C5D;
$accent-blue: #5E6373;
$ivory-black: #1D2731;
$white-text: floralwhite;
$gray-text: #909090;
$snow: snow;

$project-heading-size: 1.45em;
$project-subheading-size: 1.3em;

// Responsive design changes
html {
    background-color: $accent-blue;
}

body {
    max-width: 2160px;
    margin: auto;
    padding-top: 56px;
}

nav {
    max-width: 2160px;
    margin: auto;
}

.display-1 {
    @include media-breakpoint-down(sm) {
        font-size: 4em;
    }
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Style changes + responsive changes
.navbar {
    background-color: $ivory-black !important;
    color: $white-text;

    a {
        color: $gray-text;
    }
    
    a:hover {
        color: $white-text;
    }
}

.section-title {
    height: auto;

    h1 {
        @include media-breakpoint-down(sm) {
            font-size: 2em;
        }

        @include media-breakpoint-up(md) {
            font-size: 2.5em;
        }

        @include media-breakpoint-up(xl) {
            font-size: 2.75em;
        }
    }
}

#home {
    height: 70vh;
    background-color: $prussian-blue;
    color: $white-text;

    @include media-breakpoint-only(sm) {
        height: 65vh;
    }
    
    @include media-breakpoint-up(md) {
        height: 55vh;
    }

    #rotatingWords {
        height: 60%;

        h1 {
            @include media-breakpoint-up(md) {
                font-size: 5.5em;
            }

            @include media-breakpoint-only(xl) {
                font-size: 7em;
            }
        }   
    }

    #homeBottom {
        height: 26%;

        h1 {
            @include media-breakpoint-down(sm) {
                font-size: 1.2em;
            }
    
            @include media-breakpoint-only(md) {
                font-size: 1.6em;
            }
    
            @include media-breakpoint-up(lg) {
                font-size: 1.9em;
            }
        }
    }
    
}

#projects {
    background-color: $snow;
}

.project-description {
    
    h1 {
        @include media-breakpoint-down(sm) {
            font-size: $project-heading-size;
        }
        
        @include media-breakpoint-only(md) {
            font-size: calc(#{$project-heading-size} * 1.25);
        }

        @include media-breakpoint-only(lg) {
            font-size: calc(#{$project-heading-size} * 1.5);
        }
    }

    h2 {
        color: $accent-blue;

        @include media-breakpoint-down(sm) {
            font-size: $project-subheading-size;
        }

        @include media-breakpoint-only(md) {
            font-size: calc(#{$project-subheading-size} * 1.2);
        }

        @include media-breakpoint-only(lg) {
            font-size: calc(#{$project-subheading-size} * 1.45);
        }
    }
    
    .lead {
        @include media-breakpoint-down(sm) {
            font-size: 1.2em;
        }
    }
    
    .badge-warning {
        color: $white-text;
        font-weight: 300;
    }

    .btn {
        background-color: $prussian-blue;
        border-color: $prussian-blue;
    }
}

.project-thumbnail {
    border-radius: 8px;
    max-height: 45vh;

    @include media-breakpoint-only(xl) {
        max-height: 400px;
    }

}

#aboutMe {
    background-color: $prussian-blue;
    color: $white-text;
}

#contactMe {
    background-color: $snow;
}

// Gulfstream Project 

#gulfstreamComingSoon {
    height: calc(100vh - 56px);
    background-color: $prussian-blue;
    color: $white-text;

    #comingSoon {
        height: 100%;

        h1 {
            @include media-breakpoint-up(md) {
                font-size: 5.5em;
            }

            @include media-breakpoint-only(xl) {
                font-size: 7em;
            }
        }

        .btn {
            background-color: $snow;
            border-color: $snow;
            color: $prussian-blue;
        }
    }
}