//Bootstrap Sass Files
@import "node_modules/bootstrap/scss/bootstrap";

$indigo-dye: #0B3C5D;
$gunmetal: #1D2731;
$floral-white: #fffaf0;
$gauche-gray: #909090;
$boring-background: #f3f3f3;
$gold-metallic: #D9B310;
$alice-blue: #DFE7F6;

$project-heading-size: 1.45em;
$project-subheading-size: 1.3em;

// Responsive design changes
html {
    background-color: $boring-background;
}

body {
    max-width: 1700px;
    margin: auto;
    margin-top: 56px;
    box-shadow: 0 0 15px 0 black;
}

nav {
    max-width: 1700px;
    margin: auto;

    box-shadow: 0 0 10px 0 black;
}

.display-1 {
    @include media-breakpoint-down(sm) {
        font-size: 4em;
    }
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Style changes + responsive changes
.navbar {
    background-color: $gunmetal !important;
    color: $floral-white;
    position: fixed;
    height: auto;

    a {
        color: $gauche-gray;
    }
    
    a:hover {
        color: $floral-white;
    }
}

.section-title {
    height: auto;

    h1 {
        @include media-breakpoint-down(sm) {
            font-size: 2em;
        }

        @include media-breakpoint-up(md) {
            font-size: 2.5em;
        }

        @include media-breakpoint-up(xl) {
            font-size: 2.75em;
        }
    }
}

.section-underline {
    height: 1px;
    width: 55%;

    @include media-breakpoint-only(sm) {
        width: 35%;
    }

    @include media-breakpoint-up(md) {
        width: 25%;
    }
}

.section-dividor {
    height: 1px;
    width: 90vw;
    max-width: 1600px;
}

.light-container {
    background-color: $boring-background;

    .section-underline {
        background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    }

    .section-dividor {
        background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    }
}

.dark-container {
    background-color: $indigo-dye;

    .section-title {
        color: $floral-white;
    }

    .section-underline {
        background: linear-gradient(to right, rgba(255, 250, 240, 0), rgba(255, 250, 240, 1), rgba(255, 250, 240, 0));
    }

    .section-dividor {
        background: linear-gradient(to right, rgba(255, 250, 240, 0), rgba(255, 250, 240, 1), rgba(255, 250, 240, 0));
    }
    
    h1 {
        color: $floral-white;
    }

    h2 {
        color: $gold-metallic;
    }

    p {
        color: $floral-white;
    }

    .btn {
        color: $floral-white;
        background-color: $gauche-gray;
        border-color: $gauche-gray;
    }
}

#top-page::before {
    display: block; 
    content: " "; 
    margin-top: -1vh; 
    height: 1vh; 
    visibility: hidden; 
    pointer-events: none;
}

#home {
    height: auto;
    background-color: $indigo-dye;

    /*@include media-breakpoint-only(sm) {
        height: 65vh;
    }
    
    @include media-breakpoint-up(md) {
        height: 55vh;
    }*/

    #contactInfo {
        background-color: $boring-background;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        max-width: 1200px;
        z-index: 1;
       
        @include media-breakpoint-down(md) {
            max-width: 550px;
        }

        p {
            font-size: 1em;

            @include media-breakpoint-up(lg) {
                font-size: 1.2em;
            }

            .display-4 {
                font-size: 1.5em;
    
                @include media-breakpoint-only(lg) {
                    font-size: 1.4em;
                }

                @include media-breakpoint-only(xl) {
                    font-size: 1.6em;
                }
            }
        }

        .lead {
            font-size: 1em;

            @include media-breakpoint-up(lg) {
                font-size: 1.2em;
            }
        }

        img {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            max-height: 80vh;

            @include media-breakpoint-up(lg) {
                //@include invisible(hidden);
                border-top-right-radius: 0px;
                border-bottom-left-radius: 0px;
                height: auto;
            }

            @include media-breakpoint-only(xl) {
                max-height: 450px;
            }
        }

        .btn {
            border-color: #4E7BD0;
            color: #4E7BD0;
        }
    
        .btn:hover {
            background-color: #4E7BD0;
            color: $floral-white;
        }

        .section-underline {
            width: 85%;

            @include media-breakpoint-up(sm) {
                
            }
        }
    }
}

#homeBottom {
    min-height: calc(6vh + 20px);
    background-color: $boring-background !important;
    
    #bar {
        background-color: $gunmetal !important;
        max-height: 65px;
        height: 6vh;
        max-width: 1200px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        box-shadow: 0 0 10px 0px black;

        @include media-breakpoint-down(md) {
            max-width: 550px;
        }
    }
}

#pitch {
    max-width: 1700px;
}

#projects::before {
    display: block; 
    content: " "; 
    margin-top: -1vh; 
    height: 1vh; 
    visibility: hidden; 
    pointer-events: none;
}

#projects {
    .description {
        h1 {
            @include media-breakpoint-down(sm) {
                font-size: $project-heading-size;
            }
            
            @include media-breakpoint-only(md) {
                font-size: calc(#{$project-heading-size} * 1.25);
            }

            @include media-breakpoint-only(lg) {
                font-size: calc(#{$project-heading-size} * 1.5);
            }
        }

        h2 {
            color: #4E7BD0;

            @include media-breakpoint-down(sm) {
                font-size: $project-subheading-size;
            }

            @include media-breakpoint-only(md) {
                font-size: calc(#{$project-subheading-size} * 1.2);
            }

            @include media-breakpoint-only(lg) {
                font-size: calc(#{$project-subheading-size} * 1.45);
            }
        }
        
        .lead {
            @include media-breakpoint-down(sm) {
                font-size: 1.2em;
            }
        }

        .badge-secondary {
            color: $floral-white;
            font-weight: 300;
        }
    }

    .btn {
        border-color: #4E7BD0;
        color: #4E7BD0;
    }

    .btn:hover {
        background-color: #4E7BD0;
        color: $floral-white;
    }

    .thumbnail {
        border-radius: 8px;
        max-height: 45vh;
        box-shadow: 0 4px 8px 0 rgba(41, 41, 41, 0.2), 0 6px 20px 0 rgba(41, 41, 41, 0.15);

        @include media-breakpoint-up(lg) {
            max-width: 550px;
        }

        @include media-breakpoint-only(xl) {
            max-height: 400px;
        }
    }
}

#experience::before {
    display: block; 
    content: " "; 
    margin-top: -1vh; 
    height: 1vh; 
    visibility: hidden; 
    pointer-events: none;
}

#experience { 

    .card-body {

        p{
            color: $gunmetal;
        }
       
    }

    .dates {
        max-width: 85vw;

        @include media-breakpoint-up(xl) {
            width: 50vw;
            max-width: 1000px;
        }
        
        .display-4 {
            font-size: 1.4em;
            
            @include media-breakpoint-up(lg) {
                font-size: 1.6em;  
            }

            .hidden-text {
                visibility: hidden;
            }
        }
                
        .timeline {
            border: none;
            border-top: 7px dotted $floral-white;
        }
    }

    .modal-body {
        background-color: $indigo-dye;
    }

    .modal-content {
        border: none;
    }

    .blockquote-footer {
        p {
           color: #6c7a51; 
        }
    }
}

#aboutMe::before {
    display: block; 
    content: " "; 
    margin-top: -1vh; 
    height: 1vh; 
    visibility: hidden; 
    pointer-events: none;
}

#aboutMe {

    .me-thumbnail {
        border-radius: 8px;
        max-height: 35vh;

        @include media-breakpoint-only(xl) {
            max-height: 275px;
        }
    }
}

// Gulfstream Project 

#gulfstreamCarousel {
    
    .modal-content {
        width: 100;
    }

    .carousel-caption {
        border-radius: 8px;
        background-color: rgba($gunmetal, 0.5);

        @include media-breakpoint-down(md) {
            visibility: hidden;
        }
    }

    .carousel-item {
        background-color: $alice-blue;
        border-radius: 5px;
    }

    .modal-body {
        img {
            width: 100%;
        }
    }

    .btn {
        border-color: #4E7BD0;
        color: #4E7BD0;
        background-color: white;
    }

    .btn:hover {
        background-color: #4E7BD0;
        color: white;
    }
}