//Bootstrap Sass Files
@import "node_modules/bootstrap/scss/bootstrap";

$prussian-blue: #0B3C5D;
$accent-blue: #5E6373;
$ivory-black: #1D2731;
$white-text: floralwhite;
$gray-text: #909090;
$snow: snow;

// Responsive design changes
html {
    padding-top: 55px;
}

.display-1 {
    @include media-breakpoint-down(sm) {
        font-size: 4em;
    }
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
// Style changes + responsive changes
.navbar {
    height: 55px;
    background-color: $ivory-black;
    color: $white-text;

    a {
        color: $gray-text;
    }
    
    a:hover {
        color: $white-text;
    }
}

.section-title {
    height: 14%;

    h1 {
        @include media-breakpoint-down(sm) {
            font-size: 2em;
        }

        @include media-breakpoint-up(lg) {
            font-size: 2.5em;
        }
    }
}

#home {
    height: 70vh;
    background-color: $prussian-blue;
    color: $white-text;

    @include media-breakpoint-only(sm) {
        height: 65vh;
    }
    
    @include media-breakpoint-up(md) {
        height: 55vh;
    }

    #rotatingWords {
        height: 60%;
    }

    #homeBottom {
        height: 26%;

        h1 {
            @include media-breakpoint-down(sm) {
                font-size: 1.2em;
            }
    
            @include media-breakpoint-only(md) {
                font-size: 1.8em;
            }
    
            @include media-breakpoint-up(lg) {
                font-size: 2em;
            }
        }
    }
    
}

#projects {
    height: 70vh;
    background-color: $snow;
}

.project-description {
    
    h1 {
        @include media-breakpoint-down(sm) {
            font-size: 1.45em;
        }
    }

    h2 {
        color: $accent-blue;

        @include media-breakpoint-down (sm) {
            font-size: 1.3em;
        }
    }
    
    .lead {
        @include media-breakpoint-down(sm) {
            font-size: 1.2em;
        }
    }
    
    .badge-warning {
        color: $white-text;
    }

    .btn {
        background-color: $prussian-blue;
        border-color: $prussian-blue;
    }
}

.project-thumbnail {
    border-radius: 8px;
    width: 100%;

    @include media-breakpoint-only(md) {
        max-height: 200px;
    }

    @include media-breakpoint-up(lg) {
        max-height: 300px;
        max-width: 400px;
    }

    @include media-breakpoint-only(sm) {
        max-height: 260px;
        margin: auto;
        width: auto;
    }
}