#navBar {
    position: fixed;
    z-index: 99;
    height: 55px; 
    width: 100%;
    background-color: #353A41;
}

#navBar h4, h6 {
    float: left;
    line-height: 60px;
    padding-left: 12px;
    padding-right: 12px;
    color: white;
}

#navBar h4 {
    padding-left: 25px;
}

#navBar h6 {
    line-height: 65px;
}

    color: #6E6E6E;
    text-decoration: none;
}

a:visited .navItemText {
    color: #6E6E6E;
    text-decoration: none;
}

.navItem:hover .navItemText {
    color: #045FB4;
    text-decoration: none;
}

#home {
    height: 500px;
    width: 100%;
    background-color: #6E6E6E;
}

#projects {
    height: 1500px;
    width: 100%;
}

#aboutMe {
    height: 500px;
    width: 100%;
    background-color: #6E6E6E;
}

.projectContainer {
    position: relative;
    height: 300px;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}
.projectThumbnail {
    float: left;
    height: 300px;
    width: 300px;
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 5px;
    background-color: #6E6E6E;
}

#p1.projectThumbnail, #p3.projectThumbnail {
    clear: left;
    margin-left: 100px;
}

#p2.projectThumbnail {
    clear: right;
    margin-right: 100px;
}

.projectDescription {
    margin-right: 50px;
}

.projectDescription h2 {
    padding-left: 50px;
}

.projectDetailsButton {
    font-size: 20px;
    padding: 10px 20px;
    border-width: 2px;
    border-radius: 6px;
    border-style: solid;
    border-color: #043D9F;
    color: #043D9F;
}

.projectDetailsButton:hover {
    color: white;
    border-color: #045FB4;
    background-color: #045FB4;
    text-decoration: none;
}

.projectDetailsButton:active {
    color: white;
    text-decoration: none;
    background-color: #045FB4;
    border-style: inset;
}