@import "bootstrap.css";

:root{
  --prussian-blue: #0B3C5D;
  --accent-blue: #5E6373;
  --ivory-black: #1D2731;
  --white-text: floralwhite;
  --gray-text: #909090;
  --gray-bg: #dadada;
  --snow: snow;
  --gold-leaf: #D9B310; }

html {
  background-color: var(--accent-blue); }

body {
  max-width: 2160px;
  margin: auto;
  padding-top: 56px; }

nav {
  max-width: 2160px;
  margin: auto; }

@media (max-width: 767.98px) {
  .display-1 {
    font-size: 4em; } }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.navbar {
  background-color: var(--ivory-black) !important;
  color: var(--white-text); }
  .navbar a {
    color: var(--gray-text); }
  .navbar a:hover {
    color: var(--white-text); }

.section-title {
  height: auto; }
  @media (max-width: 767.98px) {
    .section-title h1 {
      font-size: 2em; } }
  @media (min-width: 768px) {
    .section-title h1 {
      font-size: 2.5em; } }
  @media (min-width: 1200px) {
    .section-title h1 {
      font-size: 2.75em; } }

.section-underline {
  height: 1px;
  width: 55%;
  background: linear-gradient(to right, transparent, black, transparent); }
  @media (min-width: 576px) and (max-width: 767.98px) {
    .section-underline {
      width: 35%; } }
  @media (min-width: 768px) {
    .section-underline {
      width: 25%; } }

#home {
  height: auto;
  background-color: var(--prussian-blue);
  color: var(--white-text);
  /*@include media-breakpoint-only(sm) {
        height: 65vh;
    }
    
    @include media-breakpoint-up(md) {
        height: 55vh;
    }*/ }
  #home #contactInfo {
    background-color: var(--snow);
    color: var(--ivory-black) !important;
    box-shadow: 0 4px 8px 0 rgba(41, 41, 41, 0.5), 0 6px 20px 0 rgba(41, 41, 41, 0.4);
    z-index: 1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 90%;
    width: 90%;
    max-width: 1200px; }
    #home #contactInfo p {
      font-size: .75em; }
      @media (min-width: 576px) and (max-width: 767.98px) {
        #home #contactInfo p {
          font-size: .80em; } }
      @media (min-width: 768px) and (max-width: 991.98px) {
        #home #contactInfo p {
          font-size: 1em; } }
      @media (min-width: 992px) {
        #home #contactInfo p {
          font-size: 1.25em; } }
      #home #contactInfo p .display-4 {
        font-size: 1.4em; }
        @media (min-width: 768px) and (max-width: 991.98px) {
          #home #contactInfo p .display-4 {
            font-size: 1.2em; } }
        @media (min-width: 992px) {
          #home #contactInfo p .display-4 {
            font-size: 1.25em; } }
    #home #contactInfo img {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      max-height: 50vh; }
      @media (min-width: 576px) {
        #home #contactInfo img {
          border-top-right-radius: 0px;
          border-bottom-left-radius: 0px;
          height: 100%;
          max-height: 75vh; } }
      @media (min-width: 1200px) {
        #home #contactInfo img {
          max-height: 450px; } }
    #home #contactInfo .section-underline {
      width: 85%; }

#homeBottom {
  min-height: calc(6vh + 20px);
  max-height: 80px;
  height: 8.5vh;
  background-color: var(--snow); }
  @media (max-width: 767.98px) {
    #homeBottom h1 {
      font-size: 1.2em; } }
  @media (min-width: 768px) and (max-width: 991.98px) {
    #homeBottom h1 {
      font-size: 1.6em;
      font-weight: 300; } }
  @media (min-width: 992px) {
    #homeBottom h1 {
      font-size: 1.9em;
      font-weight: 300; } }
  #homeBottom #bar {
    background-color: var(--ivory-black) !important;
    z-index: 2;
    width: 90%;
    max-height: 65px;
    height: 6vh;
    max-width: 1200px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(41, 41, 41, 0.5), 0 6px 14px 0 rgba(41, 41, 41, 0.4); }

#projects {
  background-color: var(--prussian-blue); }
  #projects .section-underline {
    background: linear-gradient(to right, rgba(255, 250, 240, 0), var(--white-text), rgba(255, 250, 240, 0)); }
  #projects .display-4 {
    color: var(--white-text); }
  #projects .description h1 {
    color: var(--white-text); }
  #projects .description h2 {
    color: var(--gold-leaf); }
  #projects p {
    color: var(--white-text); }
  @media (max-width: 767.98px) {
    #projects .description h1 {
      font-size: 1.45em; } }
  @media (min-width: 768px) and (max-width: 991.98px) {
    #projects .description h1 {
      font-size: calc(1.45em * 1.25); } }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    #projects .description h1 {
      font-size: calc(1.45em * 1.5); } }
  @media (max-width: 767.98px) {
    #projects .description h2 {
      font-size: 1.3em; } }
  @media (min-width: 768px) and (max-width: 991.98px) {
    #projects .description h2 {
      font-size: calc(1.3em * 1.2); } }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    #projects .description h2 {
      font-size: calc(1.3em * 1.45); } }
  @media (max-width: 767.98px) {
    #projects .description .lead {
      font-size: 1.2em; } }
  #projects .description .badge-secondary {
    font-weight: 300; }
  #projects .btn-primary {
    background-color: var(--gray-tex);
    border-color: var(--gray-tex); }
  #projects .thumbnail {
    border-radius: 8px;
    max-height: 40vh;
    max-width: 75vw;
    box-shadow: 0 4px 8px 0 rgba(41, 41, 41, 0.2), 0 6px 20px 0 rgba(41, 41, 41, 0.15); }
    @media (min-width: 0px) {
      #projects .thumbnail {
        max-height: 360px;
      }
    }
    @media (min-width: 1200px) {
      #projects .thumbnail {
        max-height: 340px; } }

#experience {
  background-color: var(--snow); }
  #experience h2 {
    color: var(--accent-blue); }
  #experience .btn {
    color: var(--white-text);
    background-color: var(--prussian-blue);
    border-color: var(--prussian-blue); }

#aboutMe {
  background-color: var(--snow); }
  #aboutMe .me-thumbnail {
    border-radius: 8px;
    max-height: 35vh; }
    @media (min-width: 1200px) {
      #aboutMe .me-thumbnail {
        max-height: 275px; } }

#gulfstream-header {
  background-color: var(--prussian-blue); }
  #gulfstream-header .section-underline {
    background: linear-gradient(to right, rgba(255, 250, 240, 0), var(--white-text), rgba(255, 250, 240, 0)); }
  #gulfstream-header .display-4 {
    color: var(--white-text); }
  #gulfstream-header .description h1 {
    color: var(--white-text); }
  #gulfstream-header .description h2 {
    color: var(--gold-leaf); }
  #gulfstream-header p {
    color: var(--white-text); }
  @media (max-width: 767.98px) {
    #gulfstream-header .description h1 {
      font-size: 1.45em; } }
  @media (min-width: 768px) and (max-width: 991.98px) {
    #gulfstream-header .description h1 {
      font-size: calc(1.45em * 1.25); } }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    #gulfstream-header .description h1 {
      font-size: calc(1.45em * 1.5); } }
  @media (max-width: 767.98px) {
    #gulfstream-header .description h2 {
      font-size: 1.3em; } }
  @media (min-width: 768px) and (max-width: 991.98px) {
    #gulfstream-header .description h2 {
      font-size: calc(1.3em * 1.2); } }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    #gulfstream-header .description h2 {
      font-size: calc(1.3em * 1.45); } }
  @media (max-width: 767.98px) {
    #gulfstream-header .description .lead {
      font-size: 1.2em; } }
  #gulfstream-header .description .badge-secondary {
    font-weight: 300; }
  #gulfstream-header .btn-primary {
    background-color: var(--gray-tex);
    border-color: var(--gray-tex); }

  #gulfstream-carousel img {
    max-height: 500px;
  }
