$prussian-blue: #0B3C5D;
$accent-blue: #5E6373;
$ivory-black: #1D2731;
$white-text: floralwhite;
$gray-text: #909090;
$gray-bg: #dadada;
$snow: snow;
$gold-leaf: #D9B310;

$project-heading-size: 1.45em;
$project-subheading-size: 1.3em;